body, table, div, p, dl {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
}


body, table, div, p, dl, table.directory, #powerTip div, .title {
    font-family: 'Open Sans',Roboto,sans-serif;
}


.title
{
    font-size: 1.8em;
    font-weight:600;
}


h1
{
    font-size: 1.6em;
    background-color: #E7EDFF;
    padding-left: 0.3cm;
    padding-bottom: 0.15cm;
    padding-top: 0.15cm;
    margin-left: -0.3cm;
    font-weight:600;
}

h2
{
    font-size: 1.5em;
    font-weight:600;
}


h3
{
    background-color: #ECF1FF;
    padding-left: 0.3cm
}

div.contents {
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 8px;
        width:800px;
        line-height:150%
}

div.fragment {
        margin-right: 20px;

}

pre.fragment {
        font-size: 95%;
        margin-right: 20px;
}

td, tr
{
font-family: Roboto,sans-serif;
}

table.doxtable th {
    font-size: 90%;
}


.directory td.entry
{
    padding-bottom:1px;
}
.directory td.desc
{
    padding-top:01px;
    font-size:90%
}

div.directory
{
    width:1100px;
}

.arrow
{
    padding-top:5px;
    height:10px
}

.directory tr.even
{
    background-color: #E5E5FF
}

/* parent Category links*/
div.ingroups
{
    font-size: 12pt;
}

.mdescLeft, .mdescRight {
    font-size: 85%
}

.memItemLeft, .memItemRight, .inherit_header td
{
    font-size: 95%
}

h2.groupheader
{
    font-size: 125%
}

.navpath ul
{
    background-image:None
}

td
{
    font-size: 11px
}

.directory td.entry{
    font-size: 13px
}

.directory td.desc {
    padding-top: 1px;
    font-size: 90%;
}

.ui-resizable-e
{
    width: 4px;
    border-right: #869DCA solid 1px;
    background: none;
}

a.el {
  font-weight: 600;
}

a[class*=".html:"] {
  font-style: italic;
  font-weight: normal;
}

a[class$=".html"] {
  font-weight: bold;
}


img
{
    max-width: 95%;
}
